/* Dracula theme ****************/
/* .background { */
/*   background-color: #282a36; */
/* } */

/* .white { */
/*   color: #f8f8f2; */
/* } */

/* .black { */
/*   color: #282a36; */
/* } */

/* .red { */
/*   color: #ff5555; */
/* } */

/* .purple { */
/*   color: #bd93f9; */
/* } */

/* .orange { */
/*   color: #ffb86c; */
/* } */

/* .yellow { */
/*   color: #f1fa8c; */
/* } */

/* .green { */
/*   color: #50fa7b; */
/* } */

/* .cyan { */
/*   color: #8be9fd; */
/* } */

/* .blue { */
/*   color: #6272a4; */
/* } */

/* .teal { /1* This is actually pink for Dracula *1/ */
/*   color: #ff79c6; */
/* } */

/* .grey { */
/*   color: #44475a; */
/* } */

/* /* Tokyo Night Storm theme ****************/ */
/* .background { */
/*   background-color: #24283b; */
/* } */
/**/
/* .white { */
/*   color: #a9b1d6; */
/* } */
/**/
/* .black { */
/*   color: #414868; */
/* } */
/**/
/* .red { */
/*   color: #f7768e; */
/* } */
/**/
/* .purple { */
/*   color: #bb9af7; */
/* } */
/**/
/* .orange { */
/*   color: #ff9e64; */
/* } */
/**/
/* .yellow { */
/*   color: #e0af68; */
/* } */
/**/
/* .green { */
/*   color: #73daca; */
/* } */
/**/
/* .cyan { */
/*   color: #7dcfff; */
/* } */
/**/
/* .blue { */
/*   color: #7aa2f7; */
/* } */
/**/
/* .teal { */
/*   color: #2ac3de; */
/* } */
/**/
/* .grey { */
/*   color: #565f89; */
/* } */

/* Nord theme *******************/
/* .background { */
/*   background-color: #2E3440; */
/* } */

/* .cyan-background { */
/*   background: #88C0D0; */
/*   color: #2E3440; */
/* } */

/* .yellow-background { */
/*   background: #EBCB8B; */
/*   color: #2E3440; */
/* } */

/* .orange-background { */
/*   background: #D08770; */
/*   color: #2E3440; */
/* } */

/* .green-background { */
/*   background: #A3BE8C; */
/*   color: #2E3440; */
/* } */

/* .white { */
/*   color: #D8DEE9; */
/* } */

/* .black { */
/*   color: #2E3440; */
/* } */

/* .red { */
/*   color: #BF616A; */
/* } */

/* .purple { */
/*   color: #B48EAD; */
/* } */

/* .orange { */
/*   color: #D08770; */
/* } */

/* .yellow { */
/*   color: #EBCB8B; */
/* } */

/* .green { */
/*   color: #A3BE8C; */
/* } */

/* .cyan { */
/*   color: #88C0D0; */
/* } */

/* .blue { */
/*   color: #5E81AC; */
/* } */

/* .teal { */
/*   color: #8FBCBB; */
/* } */

/* .grey { */
/*   color: #81A1C1; */
/* } */

/* Catppuccin theme ****************/
.background {
  background-color: #1E1D2F;
}

.white {
  color: #D9E0EE;
}

.black {
  color: #575268;
}

.red {
  color: #F28FAD;
}

.purple {
  color: #C9CBFF;
}

.orange {
  color: #F8BD96;
}

.yellow {
  color: #FAE3B0;
}

.green {
  color: #ABE9B3;
}

.cyan {
  color: #89DCEB;
}

.blue {
  color: #96CDFB;
}

.teal {
  color: #B5E8E0;
}

.grey {
  color: #6E6C7E;
}
